body {
margin: 0;
font-family: Georgia;
background-color: beige;
}

nav {
background-color: pink;
padding: 18px;
text-align: center;
}

nav a {
color: beige;
margin-right: 25px;
text-decoration: none;
font-size: 18px;
}

main {
display: flex;
margin: 45px;
padding: 30px;
background-color: gold;
border-radius: 15px;
}

.sidebar {
width: 35%;
padding: 15px;
}

.sidebar img {
width: 100%;
border-radius: 20px;
}

.content {
width: 65%;
padding: 25px;
color: beige;
}

h1 {
color: white;
font-size: 25px;
margin-top: 5px;
}

p {
font-size: 20px;
line-height: 1.6;
}

#interests {
margin-top: 25px;
padding: 20px;
background-color: beige ;
border-radius: 20px;
}

h2 {
color: purple;
font-size: 27px;
}

li {
margin-bottom: 20px;
font-size: 15px;
}