body {
  margin: 0px;
  background-color: #202737;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  background-color: lightblue;
  margin: 20px;
  border-radius: 15px;
  border: 5px solid rgba(118, 0, 233, 0.375);
  background-image:url(https://creator.nightcafe.studio/creation/FV8WZfYm8U29M3kmDAtA/a-drones-eye-view-of-heaven-very-colourful-candy-art-style-whimsical-playful-colorful-candy-candylan);
}

img {
  display: none;
}
